:root{
  --mk-purple: #6F126A;
  --mk-background: #020623;
  --mk-grey: #252525;
  --mk-light-grey: #404040;
}
body{
    overflow-x:hidden;
    background-color: var(--mk-background);
}
 .nav-link{
     padding-left: 10px !important;
 }
 .container-fluid{
    padding: 0;
 }
 .mk-bg-grey{
  background-color: var(--mk-grey);
 }
 .mk-bg-light-grey{
  background-color: var(--mk-light-grey);
 }
 .mk-bg-purple{
  background-color: var(--mk-purple);
  color: rgba(var(--bs-light-rgb),var(--bs-text-opacity)) !important;
 }
  .mk-page{
    position: relative;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .mk-solo-page{
    position: relative;
    display: flex;
    min-height: 72vh;
    align-items: center;
    justify-content: space-around;
  }
  #landing-img{
    background-image: url("../images/bg-min.jpg");
    background-size: cover;
    background-position: center;
  }
  #landing-img .row{
    width: 100%;
    --bs-gutter-x: 0rem;
  }
  .mk-collapsable-page{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .navbar{
    padding-left: 4%;
    padding-right: 4%;
    min-height: 8vh;
  }
  #navBarRow{
    --bs-gutter-x: 0;
  }
  .mk-quote{
      font-style: italic;
      opacity: 90%;
  }
  .mk-card-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    margin-bottom: 3%;
  }
  .card-body{
      color: white;
  }
  .mk-introduction{
      width: 100%;
      height: 25vh;
      background-color: black;
      color: white;
      text-align: center;
  }
  .flex{
    display: flex;
    align-items: center;
    text-align: center;
  }
  .row{
      color: white;
      border-radius: 5%;
  }

  footer .row{
      height: 100%;
      margin: 0%;
      width: 100%;
      white-space: nowrap;
  }
  .mk-logo h2{
      font-size: 16px;
      display: inline;
  }
  .mk-logo a{
    text-decoration: none;
    color: white;
  }
  #footer-icon-holder{
    list-style-type: none;
    padding: 0%;
  }
  #footer-icon-holder .col-md-3 a{
    color: white;
  }
  @keyframes color-change{
    from {color: white};
    to {color: white};
  }
  #facebook-icon:hover{
    color: #4267B2;
    animation-name:color-change;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  }
  #twitter-icon:hover{
    color: #1DA1F2;
    animation-name:color-change;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  }
  #linkedin-icon:hover{
    color: #0A66C2;
    animation-name: color-change;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  }
  #instagram-icon:hover{
    color: #405DE6;
    animation-name: color-change;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  }
  footer{
      height: 15vh;
  }
 
  @media screen and (min-width: 992px) {
    .navbar{
        height: 8vh;
        padding: 0% 2% 0% 2%;
    }
    footer{
      padding: 0% 2% 0% 2%;
    }
    .mk-introduction{
        width: 100vw;
        height: 20vh;
        border-radius: 0%;
    }
    .mk-card-holder{
      margin-bottom: 0%;
    }
  }
  @media screen and (min-width: 768px){
      .mk-collapsable-page{
          height: 92vh;
      }
      .mk-solo-page{
        height: 84vh;
      }
      footer{
          margin-top: 0vh;
          height: 8vh;
      }
  }