body{
    overflow-x:hidden;
}
.container-fluid{
    padding: 0 !important;
 }
 .nav-link{
     padding-left: 10px !important;
 }
  .page{
    position: relative;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .double-page{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .quote{
      font-style: italic;
      opacity: 90%;
  }
  .card-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    margin-top: 2%;
  }
  .card-body{
      color: black;
  }
  .introduction{
      border-radius: 5%;
      width: 72vw;
      height: 25vh;
      background-color: black;
      color: white;
      text-align: center;
  }
  .flex{
    display: flex;
    align-items: center;
    text-align: center;
  }
  .row{
      color: white;
      opacity: 90%;
      border-radius: 5%;
  }
  footer{
      margin-top: 5vh;
  }
  footer .row{
      height: 100%;
      margin: 0%;
      width: 100%;
      white-space: nowrap;
  }
  .logo h2{
      font-size: 16px;
      display: inline;
  }
  .text{
      background-color: black;
  }
  #landing-img{
    background-image: url("../images/3-min.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
  }
  footer{
      background-color: grey;
      height: 15vh;
  }
 
  @media screen and (min-width: 992px) {
    .navbar{
        height: 8vh;
    }
    .introduction{
        width: 40vw;
        height: 30vh;
    }
  }
  @media screen and (min-width: 800px){
      .double-page{
          height: 92vh;
      }
      footer{
          margin-top: 0vh;
          height: 10vh;
      }
  }