body{
    overflow-x:hidden;
}
 .nav-link{
     padding-left: 10px !important;
 }
 .container-fluid{
    padding: 0;
 }
  .mk-page{
    position: relative;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .mk-double-page{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .navbar{
    padding-left: 2%;
    padding-right: 2%;
    min-height: 8vh;
  }
  #navBarRow{
    --bs-gutter-x: 0;
  }
  .mk-quote{
      font-style: italic;
      opacity: 90%;
  }
  .mk-card-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    margin-top: 2%;
  }
  .card-body{
      color: black;
  }

  .mk-introduction{
      width: 100%;
      height: 25vh;
      background-color: black;
      color: white;
      text-align: center;
  }
  .flex{
    display: flex;
    align-items: center;
    text-align: center;
  }
  .row{
      color: white;
      opacity: 90%;
      border-radius: 5%;
  }
  footer{
      margin-top: 5vh;
  }
  footer .row{
      height: 100%;
      margin: 0%;
      width: 100%;
      white-space: nowrap;
  }
  .mk-logo h2{
      font-size: 16px;
      display: inline;
  }
  .mk-logo a{
    text-decoration: none;
    color: white;
  }
  .mk-text{
      background-color: black;
  }
  #landing-img{
    background-image: url("../images/bg-min.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
  }
  #landing-img .row{
    width: 100%;
    --bs-gutter-x: 0rem;
  }
  footer{
      background-color: grey;
      height: 15vh;
  }
 
  @media screen and (min-width: 993px) {
    .navbar{
        height: 8vh;
    }
    .mk-introduction{
        width: 100vw;
        height: 20vh;
        border-radius: 0%;
    }
  }
  @media screen and (min-width: 769px){
      #navBarRow{
        --bs-gutter-x: 1.5rem;
      }
      .mk-double-page{
          height: 92vh;
      }
      footer{
          margin-top: 0vh;
          height: 10vh;
      }
  }